.photo-card {
    background-color: #1d3e81;
    color: #E8EFF0;
    padding: 0.5rem 2rem 1.5rem 2rem;
    border-radius: 2rem;
    margin: 0 0 10px 0;
    text-align: center;
}

.photo-card a {
    color: #E8EFF0;
}

.photo-card img {
    width: 100%;
}

.photo-card p {
    text-align: justify;
}

.photo-card .content {
    display: block;
    text-align: center;
}

@media print {

    .backButton,
    p:not(.notPrinted) {
        display: none;
    }

    .photo-card {
        display: inline-block;
        width: 45%;
        vertical-align: top;
        margin-right: 5%;
    }

    .photo-card img {
        width: 100%;
        display: block;
    }
}


@media screen and (max-width: 300px) {
    .photo-card {
        width: 100%;
    }
}

@media screen and (min-width: 301px) and (max-width: 600px) {
    .photo-card {
        width: 50%;
        float: left;
    }
}

@media print {
    @page {
        size: landscape;
    }
}
